<h1 class="page-title">Servers</h1>
<table class="servers-list">
	<tbody>
	{{#each model as |server|}}
	<tr class="server">
		<td>{{server.portBase}}</td>
		<td>{{server.serverName}}</td>
		<td>{{if server.isRunning "Running" "Stopped"}}</td>
		<td>{{if server.isSourceConnected "Connected" "Disconnected"}}</td>
		<td>
		 {{#if server.isRunning}}
		 <button class="btn-rotate-logs">Rotate Logs</button>
		 <button class="btn-view">View</button>
		 <button class="btn-stop" {{action "serverStop" server}}>Stop</button>
		 {{else}}
		 <button class="btn-edit">Edit</button>
		 <button class="btn-start" {{action "serverStart" server}}>Start</button>
		 {{/if}}
		 <button class="btn-remove" {{action "serverRemove" server}}>Remove</button>
		</td>
	</tr>
	{{/each}}
	</tbody>
</table>

{{#modal-dialog-ok-cancel title="Delete server" showDialog=deleteDialog.show ok="deleteOk"}}
This will delete the server {{deleteDialog.server.serverName}}. Are you sure?
{{/modal-dialog-ok-cancel}}

